# Environment variables
BASE_URL=PUT_YOUR_BASE_URL_HERE

# Demo user credentials
DEMO_USER_CLIENT_USERNAME=PUT_YOUR_EMAIL_HERE
DEMO_USER_CLIENT_PASSWORD=PUT_YOUR_PASSWORD_HERE
DEMO_USER_CLIENT_DISPLAY_NAME=PUT_YOUR_DISPLAY_NAME_HERE

# Demo admin user credentials
DEMO_USER_ADMIN_USERNAME=PUT_YOUR_EMAIL_HERE
DEMO_USER_ADMIN_PASSWORD=PUT_YOUR_PASSWORD_HERE
DEMO_USER_ADMIN_DISPLAY_NAME=PUT_YOUR_DISPLAY_NAME_HERE